<div>
  <%= render 'shared/mobile_menu' %>
<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="bg-white mb-8 sm:mb-16 md:mb-20 lg:mb-24">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 pt-3">
    <div class="flex justify-between">
      <div class="flex">
        <div class="flex-shrink-0 flex items-center">
          <%= link_to root_path, class: 'logo' do %>
            <%= image_tag 'icons/odin-icon.svg' , alt: "Odin Logo" , class: 'block lg:hidden h-15 w-auto' %>
          <% end %>

          <%= link_to root_path, class: 'logo' do %>
            <%= image_tag 'logo.svg' , alt: "Odin Logo" , class: 'hidden lg:block h-15 w-auto' %>
          <% end %>
        </div>

      </div>
      <div class="hidden sm:ml-6 sm:flex sm:items-center">
        <% if user_signed_in? %>
          <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
            <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
            <%= link_to 'All Paths', paths_url, class: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-md font-medium #{active_class('/paths')}" %>
            <%= link_to 'Community', chat_link, class: 'border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-md font-medium' %>
            <%= link_to 'Dashboard', dashboard_path, class: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-md font-medium #{active_class(dashboard_path)}" %>
          </div>

          <%= link_to notifications_path, class: " ml-3 bg-white p-1 rounded-full text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gold-500", data: { test_id: 'navbar-notification-icon' } do %>
            <span class="sr-only">View notifications</span>
            <!-- Heroicon name: outline/bell -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
            </svg>
          <% end %>

        <!-- Profile dropdown -->
          <div class="ml-3 relative" data-controller="drop-down">
            <div>
              <button type="button" data-action="click->drop-down#toggle" class="bg-white rounded-full flex text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gold-500" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                <span class="sr-only">Open user menu</span>
                <%= image_tag avatar_path(current_user.avatar), size: "30x30", class: 'h-9 w-9 rounded-full', alt: 'user avatar' %>
              </button>
            </div>

            <!--
              Dropdown menu, show/hide based on menu state.

              Entering: "transition ease-out duration-200"
                From: "transform opacity-0 scale-95"
                To: "transform opacity-100 scale-100"
              Leaving: "transition ease-in duration-75"
                From: "transform opacity-100 scale-100"
                To: "transform opacity-0 scale-95"
            -->
            <div data-drop-down-target="menu" class="hidden origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
              <!-- Active: "bg-gray-100", Not Active: "" -->
              <%= link_to 'Settings', edit_user_registration_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
              <%= link_to 'Log out', logout_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
            </div>
          </div>
        <% else %>
          <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
            <%= link_to 'All Paths', paths_url, class: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-md font-medium #{active_class(paths_url)}" %>
            <%= link_to 'About', about_path, class: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-md font-medium #{active_class(about_path)}" %>
            <%= link_to 'Community', chat_link, class: 'border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-md font-medium' %>
            <%= link_to 'Get Started', sign_up_path, class: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-md font-medium #{active_class(sign_up_path)}" %>
            <%= link_to 'Log in', login_path, class: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-md font-medium #{active_class(login_path)}" %>
        </div>

        <% end %>
      </div>
      <div class="-mr-2 flex items-center sm:hidden">
        <!-- Mobile menu button -->
        <button type="button" data-controller="events" data-action="events#emit" data-events-event-name-value="openMobileMenu" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-gold-500" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Heroicon name: outline/menu

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" data-mobile-menu-target="openButton">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <!--
            Icon when menu is open.

            Heroicon name: outline/x

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" data-mobile-menu-target="closeButton">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="hidden sm:hidden h-screen">
    <% if user_signed_in? %>
      <div class="pt-2 pb-3 space-y-1">
        <%= link_to 'All Paths', paths_url, class: 'bg-gold-50 border-gold-500 text-gold-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium' %>
        <%= link_to 'Community', chat_link, class: 'border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium' %>
        <%= link_to 'Dashboard', dashboard_path, class: 'border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium' %>
      </div>
      <div class="pt-4 pb-3 border-t border-gray-200">
        <div class="flex items-center px-4">
          <div class="flex-shrink-0">
            <%= image_tag avatar_path(current_user.avatar), size: "30x30", class: 'h-10 w-10 rounded-full', alt: 'user avatar' %>
          </div>
          <div class="ml-3">
            <div class="text-base font-medium text-gray-800"><%= current_user.username %></div>
          </div>

          <%= link_to notifications_path, class: "ml-auto flex-shrink-0 bg-white p-1 rounded-full text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gold-500", data: { test_id: 'navbar-notification-icon' } do %>
            <span class="sr-only">View notifications</span>
            <!-- Heroicon name: outline/bell -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
            </svg>
          <% end %>

        </div>
        <div class="mt-3 space-y-1">
          <%= link_to 'Settings', edit_user_registration_path, class: "block px-4 py-2 text-base font-medium text-gray-500 hover:text-gray-800 hover:bg-gray-100" %>
          <%= link_to 'Log out', logout_path, class: "block px-4 py-2 text-base font-medium text-gray-500 hover:text-gray-800 hover:bg-gray-100" %>
        </div>
      </div>
    <% else %>
      <div class="pt-2 pb-3 space-y-1">
        <%= link_to 'All Paths', paths_url, class: 'bg-indigo-50 border-indigo-500 text-indigo-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium' %>
        <%= link_to 'About', about_path, class: 'border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium' %>
        <%= link_to 'Community', chat_link, class: 'border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium' %>
        <%= link_to 'Get Started', sign_up_path, class: 'border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium' %>
        <%= link_to 'Log in', login_path, class: 'border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium' %>
      </div>
    <% end %>
  </div>
</nav>
</div>
